body {
  margin: 0;
  padding: 0;
  background: rgb(10, 18, 31);
  color: white;
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
}
td {
  border: 1px white solid;
}
* {
  margin: 0;
}
table {
  width: 90%;
  margin: auto;
}
table tr:first-of-type {
  height: 50px;
}
tr td:first-of-type {
  width: 3%;
}
td {
  width: 15%;
  text-align: center;
}
.item {
  width: 100%;
  height: 100%;
}
.item h5 {
  margin: 8px 0 8px 0;
  font-weight: normal;
}
.item h6 {
  margin: 8px 0 8px 0;
}
.lecture {
  background: #051040;
}
.lab {
  background: #1034a6;
}
.exercises {
  background: #28314d;
}
.footer {
  text-align: center;
  padding: 10px;
}
.mobile {
  display: none;
}

@media only screen and (max-width: 1400px) {
  table {
    width: 100%;
  }
  h3 {
    font-size: 15px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }
  .menu {
    display: flex;
    justify-content: space-evenly;
    background: #1034a6;
    list-style: none;
    padding: 15px;
  }
  .menu a {
    color: white;
    text-decoration: none;
    transition: 0.1s;
  }
  .menu a:hover {
    color: lightblue;
  }
  .day {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .day-name {
    font-size: 26px;
    padding: 35px 0 0 0;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    position: relative;
  }
  .item::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    bottom: -10px;
  }
  .day .item:last-of-type::after {
    background: none;
  }
  .item h5:first-of-type {
    font-weight: bold;
    color: lightblue;
    margin: 10px 0 0px 0;
    font-size: 16px;
  }
  .day:nth-of-type(even) {
    background: #1034a6;
  }
  .day:nth-of-type(odd) {
    background: #051040;
  }
  table {
    display: none;
  }
}
@media only screen and (max-width: 460px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu li {
    padding: 5px;
    font-size: 18px;
  }
}
